{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Dashboard - Student
{% endblock title %}



{% block site_css %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>


<!-- Custom styles for this template -->
<link href="{% static 'assets/student-dashboard.css' %}" rel="stylesheet">

{% endblock site_css %}
  


{% block body %}


{% include "includes/student-topnav.html" %}
<div class="container-fluid">
  <div class="row">
    {% include "includes/student-sidenav.html" %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>


      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,015</td>
              <td>random</td>
              <td>tabular</td>
              <td>information</td>
              <td>text</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      {% include "includes/message.html" %}
      {% block main %}
        
      {% endblock main %}
    </main>
  </div>
</div>

  
{% endblock body %}
    
{% block site_js %}
  
<script src="{% static 'assets/feather.min.js' %}"></script>
<script src="{% static 'assets/student-dashboard.js' %}"></script>

<script>

  document.getElementById("classSearchBtn").addEventListener("click", myFunction);

  function myFunction() {
    let code = document.getElementById("classSearchValue").value;
    document.getElementById('newClassCode').setAttribute('value',code);
    if(code != ''){
      document.getElementById('classSearchForm').submit();
    }else{
     alert('Please, enter the classromm code.') 
    }
  }
</script>

{% endblock site_js %}

