{% extends "student/dashboard.html" %}

{% block title %}
{{ classroom.subject }}
{% endblock title %}

{% block main %}
    
    {% if classroom %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>
        <div class="row mt-3 d-flex">
            <div class="col-12">
                <div class="card">
                    <img src="{{ classroom.image.url }}" alt="{{ classroom.subject }}">
                    <div class="card-body">
                    <h5 class="card-title">{{ classroom.subject }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted ">Code: {{ classroom.code }}</h6>
                    <p class="card-text"> {{classroom.description|truncatewords:20}} </p>
                    <h1 class="text-center p-2">Student lists</h1>
                    <table class="table table-striped  table-bordered text-center table-dark">
                        <thead>
                          <tr>
                            <th>Student Name</th>
                            <th>Aceept/Decline</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for student in enrolled_students %}
                                <tr>
                                    <td>{{ student.user.fullName }}</td>
                                    <td>
                                        
                                        {% if student.status is not True %}
                                            <a href="{% url 'classJoinAccept' student.id %}" class="btn btn-success">Accept</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                        
                    </div>
                </div>
            </div>
        </div>


    
    {% else %}
        <div class="mt-5">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">No such classroom found.</h5>
                </div>
            </div>
        </div>
    {% endif %}
        

{% endblock main %}


