{% if messages %}
  {% for m in messages  %}
    {% if m.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success: </strong> {{ m }}
        </div>
    {% else %}
        <div class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Error: </strong> {{ m }}
        </div>
    {% endif %}
  {% endfor %}
{% endif %}