<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">LMS</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mx-auto"></span>
    </button>
    <div class="input-group">
      <input type="search" class="form-control rounded"  id="classSearchValue" name="code" placeholder="e.g. 9HR3U0C9" aria-label="Search"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary" id="classSearchBtn">search</button>
    </div>
    <form action="{% url 'classSearch' %}" id="classSearchForm" method="GET" class="d-none">
      <input type="search" class="form-control rounded" id="newClassCode" name="code">
    </form>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="{% url 'signout' %}">Sign out</a>
      </div>
    </div>
  </header>